@font-face {
  font-family: Tungsten;
  src: url("../fonts/Tungsten-Bold.ttf");
}

@font-face {
  font-family: Manjari;
  src: url("../fonts/Manjari-Thin.ttf");
}

body{
  font-family: Arial, sans-serif
}

#title{
  font-family: Manjari;
}