@font-face {
    font-family: 'New York';
    src: url('/assets/fonts/NewYork.otf')  format('truetype');
  }

h1{
    font-family: New York;
    color:rgb(37, 37, 37);
    font-size: 65px;
}

body{

}
