@font-face {
  font-family: Tungsten;
  src: url("../fonts/Tungsten-Bold.ttf");
}

h1{
    font-family: Tungsten;
    color:rgb(37, 37, 37);
    font-size: 65px;
}

body{
  font-family: Arial, sans-serif
}
